.buttons {
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.buttons button {
    margin-right: 5px;
}

.like {
    font-size: 25px;
    padding: 0px 16px;
    border-color: transparent;
    background-color: transparent;
    color:rgb(90, 86, 86)
}

.like:hover {
    font-size: 25px;
    border-color: transparent;
    background-color: transparent;
    color:rgb(211, 0, 0)
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/