.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container h1 {
  color: white;
  padding-left: 40px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
}

li {
  margin: 0 3px;
}
