ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
}

ul a:visited {
  color: purple;
}

li {
  display: flex;
  align-content: center;
  height: 40px;
}

li button {
  height: 50%;
  margin-left: 10px;
  font-size: 80%;
  color: white;
  background-color: #ce5848;
}

li button:hover {
  cursor: pointer;
  background-color: #7b3d32;
}
